<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="logo">
        <nav>
            <div>
                <img src="../../assets/images/white-logo.png" alt="" >
            </div>
            <ul >
            <li>Our Menu</li>
            <li>Maps</li>
            <li>About</li>
            <li>CONTACT</li>
        </ul>
        <div>
        
        <button class="btn btn-danger">Order</button>
    </div>
        </nav>
        </header>

   <div>
    <strong><b><h1 >A RESTURANT THAT <br> ONLY SERVES <br>
        DELICIOUS FOOD</h1></b></strong>
   </div>
<div>
   <button class="btn btn-danger" style="margin-left: 550px;">Read Our Menu</button></div>

   <div style="text-align: end;">
    <img src="../../assets/images/scrool.png" alt="" width="120px" height="120px">
   </div>
</body>
</html>